.archive-section {
  padding:    2em 3em;
  column-gap: 2.4em;
  font-size:  clamp(18px, 2vw, 24px);

  .post-list__item {
    a {
      font-weight:  100;

      &:hover {
        color: rgb(0,0,0,0.4);
      }
    }
  }
}

@media (min-width: 600px) {
  .archive-section {
    columns:  2;
  }
}

@media (min-width: 1000px) {
  .archive-section {
    columns:  3;
  }
}

@media (min-width: 1400px) {
  .archive-section {
    columns:  4;
  }
}

.archive-main {
  .home-header h1 { font-size:  1.6em; }
  .home-header h2 { font-size:  1.4em; }
  .home-header h3 { font-size:  1.2em; }
  .home-header h4 { font-size:  1em; }
}