.home-header {
  text-align:     center;
  padding-top:    1em;
}

.home-intro {
  font-size:      .7em;
  font-weight:    300;
}

.home-search {
  width:          40vw;
  text-align:     center;
  font-weight:    100;
  font-style:     italic;
  border-radius:  .7em;
  border:         1px solid rgb(80, 80, 80, .8);
  font-size:      .7em;
  padding:        .8em;
  margin-top:     .7em;
}