@media (min-width: 749px) {
  .hymn-article {
    display:            grid;
    grid-auto-columns:  1fr;
    grid-auto-rows:     auto;
    grid-template-areas:
      "gr en"
      "yt sc";
  }
  .hymn-article__content {
    &.gr { grid-area: gr }
    &.en { grid-area: en }
  }
}

@media (max-width: 750px) {
  .hymn-article {
    display: block;
  }
}

.hymn-article {
  padding:  2em 2.5em;
}

.hymn-article__meta {
  padding: 0 1.5em 1em;
}