:root {
  --yellow:         rgba(236, 198, 44, 1.000);
  --min-font:         12px;
  --pref-font:        calc(1.3rem + .9vw);
  --max-font:         38px;
  --body-font:        "PF Index", Arial, sans-serif;
  //--min-max:    min( max( 12px, calc(22px + .8vw) ), 35px );
  --header-height:    4.5rem;
}