<header class="home-header">
  <h1 class="home-title">{{ introHeading }}</h1>
  {% if introSummary %}
    <div class="home-intro">{{ introSummary | safe }}</div>
  {% endif %}
  {# <input class="home-search" type="search"> #}
</header>