{% if postListItems.length %}
  <section>
    <div>
      <h2>{{ postListHeading }}</h2>
      <ol>
        {% for item in postListItems %}
            <li class="post-list__item">
              <h3>
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
            </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
