{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.songs %}

{% block content %}
  <main>
    {% include "partials/components/intro.njk" %}
    <section class="archive-section">
      {% include "partials/components/post-list.njk" %}
    </section>
  </main>
{% endblock %}
