{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
{% endset %}

{% block content %}
  <main>
    {% include "partials/components/intro.njk" %}
    <article class="hymn-article">
      <div class="hymn-article__content gr">
        {{ content | safe }}
        {% if youtube_gr %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtube_gr }}?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
      </div>
      <div class="hymn-article__content en">
        {% if english %}
        {{ english | markdownFilter | safe }}
        {% endif %}
        {% if youtube_en %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtube_en }}?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
      </div>
    </article>
    {% if tags %}
      <footer class="hymn-article__meta">
        <h5>Filed under:</h5>
        <ul>
          {% for item in tags %}
            <li class="nav__item">
              <a href="/tags/{{ item }}">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>
      </footer>
    {% endif %}
  </main>
{% endblock %}

{{ content | safe }}
